extends ../_layout

block content
h1 History of purchases:
ul
each element in history
        li
            div
                p= element.drone.name
                p= element.startDate
                p= element.endDate