extends ./_layout

block content
    h1 History of purchases:
    ul
    if orders
        each order in orders
            li
                strong= order.orderType
                p= order.startDate
                p= order.endDate