extends ../_layout

block content
    h2 Meet the team:


    each member in Members

        table.container
            tr
                td.leftAl
                    h3= member.name
                td.leftAl
                    
                    a(href= member.github)= "" + member.github