extends ../_layout

block content

    .container
        .wrapper
        form.form-signin(action="/sign-up" method="post" name="Register_Form")
            h3.form-signin-heading Registration Form
                br.colorgraph
                input.form-control.sign-in(type="text" name="username" placeholder="Username" required="" autofocus="")
                //- input.form-control.sign-in(type="text" name="firstName" placeholder="First Name" required="")
                //- input.form-control.sign-in(type="text" name="lastName" placeholder="Last Name" required="" autofocus="")
                //- input.form-control.sign-in(type="text" name="phoneNumber" placeholder="Phone Number" required="")
                //- input.form-control.sign-in(type="text" name="email" placeholder="Email Address" required="" autofocus="")
                input.form-control.sign-in(type="password" name="password" placeholder="Password" required="")
            button.btn.btn-lg.btn-primary.btn-block(type="submit" name="Submit" value="Login") Register