extends ../_layout

block content
    .container
        .wrapper
        form.form-signin(action="" method="post" name="Login_Form")
            h3.form-signin-heading Welcome Back! Please Sign In
                br.colorgraph
                input.form-control.sign-in(type="text" name="Username" placeholder="Username" required="" autofocus="")
                input.form-control.sign-in(type="password" name="Password" placeholder="Password" required="")
            button.btn.btn-lg.btn-primary.btn-block(type="submit" name="Submit" value="Login") Login
