extends ../_layout

block content
    h2 Unit specifics:
            ul
                li
                    table(table-border='2px solid blue')
                        tr
                            td(rowspan = 5)
                                img.img-rounded(src= drone.img height='150' width ='150')
                            td
                                h4(align= 'left') Name assigned: #{drone.name}
                        tr
                            td
                                h4(align= 'left') Made By: #{drone.manufacturer}
                        tr
                            td
                                h4(align= 'left') Description: #{drone.description}
                        tr
                            td
                                h4(align= 'left') Services supported: #{drone.serviceSupported}


