extends ../_layout

block content
    h1 Supported services:
    ul
        each service in services
            li
                h3
                    a(href= 'services/'+service align='left')= service