extends ../_layout

block content
    h1 Supported services:
    ul
    if user
        if user.role === "admin"
             a(href="services/create-service")
                .input-group-btn
                    button.btn.btn-lg.btn-primary(type="submit") Create new service
        each service in services
            li
                h3
                    a(href= 'services/'+service align='left')= service